<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
   
</head>
<body>
     
    <h1>Staff Login</h1>

    <form action="/login" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
     
    <div id="message">
    {{message}}
</div>
    <script src="index.js"></script>
    </form>




    <h1>Student Login</h1>

    <form action="/stulogin" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Reg No" name="regno" type="password">
        <br>
        <input class="sub" type="submit">
     
    
    <script src="index.js"></script>
    </form>
    





    
</body>
</html>