<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Add New Staff</h1>

    
        <form action="/addstaffdetails" method="post" >

        <label for="name">Name</label>
        <input placeholder="Name" name="name" type="text">
        <br>
        <label for="password">Staff Password</label>
        <input placeholder="Password" name="password" type="text">
        <br>
        
        <label for="floor">Floor</label>
        <input placeholder="Floor" name="floor" type="text">
        <br>
        <label for="phno">Phone No</label>
        <input placeholder="Phone No" name="phno" type="text">
        <br>
        
        <input class="sub" type="submit">
        </form>

  
</form>
</body>
</html>